<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="form_container">
            <div class="form_container--head">
                <h3>Home</h3>
            </div>
            <div class="form_container--content">
                <a href="/show_offrande">Offrande</a>
                <a href="/show_demande">Demande</a>
            </div>
        </div>
    </div>
</body>
</html>